
.imageDiv{
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 250px;
    width: 250px;
   
}

img{
    height: 200px;
    width: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.descriptionDiv{
    display: flex;
    height: 200px;
    width: 250px;
    font-size: 30px;
}


