.likesDiv{
    background-color: #D1D5DE;
    height: 40px;
   padding-top: 10px;
   border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Roboto', sans-serif;
    
}

button{
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
}
span{
    margin-left: 5px;
}

.likeButton{
    background-color: #302B27;
    padding: 3px;
    width: 70px;
    color: #fff;
}